.Sun_Movement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: 1px solid red; */
}

/* .Sun_Movement h3 {
    border: 1px solid red;

} */

/* .Sun_Movement Line {
    border: 1px solid red;

} */