.Search {
    /* border: 1px solid gray; */
    display: flex;
    border-radius: 7px;
    margin: 7px;
    margin-top: 14px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Search:hover {
    border: 1px solid gray;
}

.Location_Icon {
    width: 35px;
    height: 35px;
    margin: 7px;
    margin-right: 0%;
    /* border: 1px solid red; */
    /* cursor: pointer; */
}

.Search_Input {
    border: none;
    outline: none;
    width: 85%;
    font-weight: bold;
    /* border: 1px solid red; */
}

.Search_Button {
    width: 35px;
    height: 35px;
    margin: 7px;
    margin-left: 0%;
    padding: 7px;
    background: none;
    border: none;

    /* border: 1px solid red; */
}

.Forecast {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;

    overflow-x: scroll;
    /* border: 1px solid red; */
}

.Day_Forecast {
    /* width: max-content; */
    width: 75px;
    height: fit-content;
    /* border: 1px solid red; */
}

.Bottom {
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Bottom_Top {
    display: flex;
    font-size: x-large;
    margin: 11px;
    margin-bottom: -22px;
    /* border: 1px solid red; */
}

.Graph {
    margin: 7px;
    /* display: grid; */
    /* grid-template-columns: repeat(6, 1fr); */
    /* border: 1px solid red; */
}

.Two_Way {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 7px; */
    margin-top: 15px;
    /* border: 1px solid red; */
}

.Single {
    width: 150px;
    margin: auto;
    padding-bottom: 3px;
    /* border: 1px solid red; */
    background-color: rgb(243, 251, 255);
}

.Single h3,
h4 {
    margin: 0px;
}

.Sun {
    display: flex;
    margin: 22px;
    margin-top: 15px;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.Rise_Set h3,
p {
    margin: 0px;
}

.SunMovement {
    margin: 7px;
    padding: 7px;
}