.Search {
    /* border: 1px solid gray; */
    display: flex;
    border-radius: 7px;
    margin: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Search:hover {
    border: 1px solid gray;
}

.Location_Icon {
    width: 35px;
    height: 35px;
    margin: 7px;
    margin-right: 0%;
    /* border: 1px solid red; */
}

.Search_Input {
    border: none;
    outline: none;
    width: 85%;
    font-weight: bold;
    /* border: 1px solid red; */
}

.Search_Button {
    width: 35px;
    height: 35px;
    margin: 7px;
    margin-left: 0%;
    padding: 7px;
    background: none;
    border: none;
    /* border: 1px solid red; */
}

.Seven_Forecast {
    /* height: 175px; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 11px;
    overflow-x: scroll;
    /* border: 1px solid red; */
}

.Day_Forecast {
    width: 101px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.Day_Forecast h3,
p {
    margin: auto;
    /* border: 1px solid red; */
}

.Day_Forecast:hover {
    border: 3px solid teal;
}



.Day_Forecast img {
    width: 75%;
    /* border: 1px solid red; */
}

.Bottom {
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Bottom_Top {
    margin: 7px;
    margin-bottom: 0px;
    font-size: x-large;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.Bottom_Top h1 {
    height: 75px;
    margin: 7px;
    /* border: 1px solid red; */
}

/* .Big_Icon {
    border: 1px solid red;
} */

.Big_Icon img {
    width: 107px;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.Graph {
    height: fit-content;
    margin: 7px;
    margin-top: 0px;
    /* border: 1px solid red; */
}

.Two_Way {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 7px;
    margin-top: 14px;
    /* border: 1px solid red; */
}

.Single {
    width: 165px;
    margin: auto;
    padding-bottom: 3px;
    background-color: rgb(243, 251, 255);
    /* border: 1px solid red; */
}

.Single h3,
h4 {
    margin: 0px;
    text-align: left;
    height: 21px;
    margin-left: 11px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.Sun {
    display: flex;
    margin: 11px;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.Rise_Set h3,
p {
    margin: 0px;
    text-align: left;
    height: 21px;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.SunMovement {
    margin: 7px;
    padding: 7px;
}