* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  text-align: center;
  width: 385px;
  margin: auto;
  margin-top: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  /* border: 1px solid red; */
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}